<main id="root">If you are seeing this, React is broken!</main>

<script type="text/javascript">
    window.logoUrl = "<%= image_url('logo.png') %>"
</script>

<script type="text/javascript">
    window.profileUrl = "<%= image_url('profile-icon.png') %>"
</script>

<script type="text/javascript">
    window.playButtonUrl = "<%= image_url('playbutton.png') %>"
</script>
<script type="text/javascript">
    window.downUrl = "<%= image_url('down.png') %>"
</script>


<script type="text/javascript">
    window.listUrl = "<%= image_url('add.png') %>"
</script>
<script type="text/javascript">
    window.addedUrl = "<%= image_url('check.png') %>"
</script>

<script type="text/javascript">
    window.searchUrl = "<%= image_url('search-2-16.png') %>"
</script>
<script type="text/javascript">
    window.soundUrl = "<%= image_url('speaker.png') %>"
</script>
<script type="text/javascript">
    window.muteUrl = "<%= image_url('speaker-off.png') %>"
</script>
